<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style>
		body {
		  overflow-x: hidden;
		}
	</style>
	<title>Artwork</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- Your custom styles (optional) -->
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- MDBootstrap Datatables  -->
	<link href="/static/css/datatables.min.css" rel="stylesheet">
	<!-- MDB icon -->
	<link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="css/mdb.min.css"> 
</head>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand"> Artworks </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="{{url_for('index')}}">Home</a>
			<a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
			<a class="nav-item nav-link" href="{{url_for('museum')}}">Museums</a>
			<a class="nav-item nav-link" href="{{url_for('artist')}}">Artists</a>
			<a class="nav-item nav-link active" href="{{url_for('artwork')}}">Artwork<span class="sr-only">(current)</span></a>
		</div>
		</div>
	</nav>
<body>
	<br>
	<center><h2>All Artwork</h2></center>
	<center><h6> Browse through all artwork. Click on an ID to learn more!</h6></center>

	<div style=" margin: 0px 50px 0px 50px;">
	<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
			<thead>
			  <tr>
				<th class="th-sm">Title
				</th>
				<th class="th-sm">Artist
				</th>
				<th class="th-sm">Date
				</th>
				<th class="th-sm">Museum
				</th>
				<th class="th-sm">Artist ID
				</th>
				<th class="th-sm">Artwork ID
				</th>
			  </tr>
			</thead>
			<tbody>
			{%for i in artworks%}
			  <tr>
				<td>{{i.title}}</td>
				<td>{{i.artist}}</td>
				<td>{{i.date}}</td>
				<td><a href="{{ url_for('view_museum',museum_id = i.owner.museum_id ) }}">{{i.owner.museum}}</a></td>
				<td><a href="{{ url_for('view_artist',artist_id = i.artist_id) }}">{{i.artist_id[:-5]}}</a></td>
				<td><a href="{{ url_for('view_artwork', artwork_id = i.artwork_id)}}">{{i.artwork_id[:-5]}}</a></td>
			  </tr>
			{%endfor%} 
			</tbody>
			<tfoot>
			  <tr>
				<th>Title
				</th>
				<th>Artist
				</th>
				<th>Date
				</th>
				<th>Museum
				</th>
				<th>Artist ID
				</th>
				<th>Artwork ID
				</th>
			  </tr>
			</tfoot>
	</table>
</div>
	<!-- jQuery -->
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/static/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/static/js/mdb.min.js"></script>
	<!-- MDBootstrap Datatables  -->
	<script type="text/javascript" src="/static/js/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
		$('#dtBasicExample').DataTable();
		$('.dataTables_length').addClass('bs-select');
		});
	</script>
</body>
</html>