<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<title>Museum</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"> Museums </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{url_for('index')}}">Home</a>
      <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
      <a class="nav-item nav-link active" href="">Museums<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{{url_for('artist')}}">Artists</a>
      <a class="nav-item nav-link" href="{{url_for('artwork')}}">Artwork</a>
    </div>
  </div>
</nav>
<body>
	<br>
	<center><h2>All Museums</h2></center>
	<center><h6> Browse through all of the Museums. Click on an ID to learn more!</h6></center>

	<div style=" margin: 0px 50px 0px 50px;">
	<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
			<thead>
			  <tr>
				<th class="th-sm">Museum
				</th>
				<th class="th-sm">Location
				</th>
			</thead>
			<tbody>
			{%for i in museums%}
			  <tr>
				  <td><a href="{{ url_for('view_museum',museum_id = i.museum_id ) }}">{{i.museum}}</a></td>
				  <td>{{i.location}}</td>
			  </tr>
			{%endfor%} 
			</tbody>
			<tfoot>
			  <tr>
				<th>Museum
				</th>
				<th>Location
				</th>
			</tfoot>
	</table>
</div>
	<!-- jQuery -->
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/static/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/static/js/mdb.min.js"></script>
	<!-- MDBootstrap Datatables  -->
	<script type="text/javascript" src="/static/js/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
		$('#dtBasicExample').DataTable();
		$('.dataTables_length').addClass('bs-select');
		});
	</script>
</body>
</html>