<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title></title>
</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand"> Artworks </a>
	   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="{{url_for('index')}}">Home</a>
		  <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
		  <a class="nav-item nav-link" href="{{url_for('museum')}}">Museums</a>
	      <a class="nav-item nav-link" href="{{url_for('artist')}}">Artists</a>
	      <a class="nav-item nav-link active" href="{{url_for('artwork')}}">Artwork<span class="sr-only">(current)</span></a>
	    </div>
	  </div>
	</nav>

<body>
	<div style=" margin: 50px 50px 50px 50px;">
		<img src= "{{dictionary.imageURL}}" onerror="this.style.display='none'" align = center style= "display: block; margin: auto; max-width: 100%; max-height: 500px" />
		<h1>{{dictionary.title}}</h1>
		<ul class="list-group">
		  <li href="#" class="list-group-item list-group-item-action flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1">Artwork Info</h5>
		    </div>
		    <p class="mb-1">Credit: {{dictionary.credit}}</p>
		    <p class="mb-1">Medium: {{dictionary.medium}}</p>
		    <p class="mb-1">Dimensions: {{dictionary.dimensions}}</p>
			<p class="mb-1">Date Acquired: {{dictionary.date}}</p>
		    <small class = "list-group-item-dark" >Object ID: {{dictionary.artwork_id}}</small>
		  </li>
		  <li class="list-group-item list-group-item-action flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1">Artist</h5>
		    </div>
			<a href="{{ url_for('view_artist',artist_id = dictionary.artist_id)}}">{{dictionary.artist}}</a>
		  </li>
		</ul>
	</div>

</body>
</html>