<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title></title>
	
</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand"> Artworks </a>
	   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="{{url_for('index')}}">Home</a>
		  <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
		  <a class="nav-item nav-link" href="{{url_for('museum')}}">Museums</a>
	      <a class="nav-item nav-link active" href="{{url_for('artist')}}">Artists<span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="{{url_for('artwork')}}">Artwork</a>
	    </div>
	  </div>
	</nav>

<body>
	<div style = "position: relative; left: 10px; top: 10px; margin: 50px 50px 50px 50px;">
		<img src="{{url_for('static', filename='../static/images/' + specific_artist.artist_name + '.jpg')}}" onerror="this.style.display='none'" align = left style= "margin: 0px 15px 0px 0px; max-width: 350px" />
		<h1>{{specific_artist.artist_name}}</h1>

		<ul class="list-group">
		  <li href="#" class="list-group-item list-group-item-action flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1">Artist Info:</h5>
		    </div>
			<p class="mb-1">Gender: {{specific_artist.gender}}</p>
			<p class="mb-1">Dates: {{specific_artist.artist_dates}}</p>
			<p class="mb-1">Nationality/Origin: {{specific_artist.nationality}}</p>
		    <small class = "list-group-item-dark">Constituent ID: {{specific_artist.artist_id[:-5]}}</small>
		  </li>
		  <li class="list-group-item list-group-item-action flex-column align-items-start">
		    <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1">Discover {{specific_artist.artist_name}}'s Artwork:</h5>
			</div>
			{%for i in artwork%}
				<div>
					<a href= "{{ url_for('view_artwork',artwork_id = i.artwork_id ) }}"> {{i.title.split('_')[0]}}</a>
				</div>
			{%endfor%}

		  </li>
		</ul>
	</div>

</body>
</html>